<!DOCTYPE html>
<html>
  <head>
    <title>{{kingdom.name}}</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
      <a href="/">Back to home</a>
      <br />
    Kingdom:
    <table>
        <tbody>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{kingdom.name}}
                </td>
            </tr>
            <tr>
                <td>
                    Legs
                </td>
                <td>
                    {{kingdom.legs}}
                </td>
            </tr>
            <tr>
                <td>
                    Fluid Temperature
                </td>
                <td>
                    {{kingdom.fluidtemp}}
                </td>
            </tr>
            <tr>
                <td>
                    Is Mobile?
                </td>
                <td>
                    {{kingdom.mobile}}
                </td>
            </tr>
        </tbody>
    </table>
  </body>
</html>